# Ignore environment variables
.env

# Ignore credentials and secrets
credentials.json


# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and temp files
*.log
*.sqlite3
*.db
*.pid
git config --global user.name "Your Name"
git config --global user.email "your.email@example.com"

# Ignore virtual environments
venv/
env/
.virtualenv/
.venv/

# Ignore IDE/editor config files
.vscode/
.idea/
*.sublime-workspace

#ignore files
auth.py